[user]
    name = Akash Agrawal
    email = akagr@outlook.com
[push]
    default = simple
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    brd = branch -d
    dif = diff
    hist = log --pretty=format:"%C(yellow)%h\\ %Cgreen%d\\ %Creset%s\\ %Cred[%aN\\ -\\ %ad]%Creset" --date=short --graph --all
    graph = log --pretty=format:"%C(blue)%d%Creset" --graph --simplify-by-decoration --all --dense
    shoot = push origin --delete
[color]
    ui = true
[core]
    editor = nvim
	autocrlf = false
    safecrlf = true
    filemode = false
[credential]
    helper = cache --timeout=36000
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
