set clipboard+=unnamed

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Key Bindings
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Replaces escape in insert mode
inoremap jj <ESC>l
tnoremap jj <C-\><C-n>
